*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    font-family: 'メイリオ', Osaka;
    margin: 3em;
    background-color: rgb(255, 246, 163);
}
h1{
    border-bottom:solid 1px #555;
    font-size: 60px;
}
p#time{
    font-size: 58pt;
    padding-top: 0.5em;
}
button{
    width:5em;
    padding:5pt;
    margin: 10pt;
    font-size: 20pt;
    border:solid 1px rgb(0, 0, 0);
    border-radius: 15pt;
    border-bottom: 5px solid #555;
}
button:hover{
    background-color: pink;
    border-radius: 15pt;
}
#btnStart:active{
    transform: translate(0,2px);
    border-bottom: 2px solid #555;
}
#btnClear:active{
    transform: translate(0,2px);
    border-bottom: 2px solid #555;
}


