html{
    background-color: #0F79B3;
    width:980px;
    margin:0 auto;
    font-family: 'Bungee Shade', cursive;

}
#body{
    width:410px;
    height:290px;
    border-radius: 10px;
    border:solid 1px #000000;
    margin:100px;
    background:-webkit-gradient(linear, left top, left bottom, from#ebf1e9), to(rgb(53, 238, 130));
}
p#default {
    font-family: 'Bungee Shade', cursive;
    width:340px;
    height:100px;
    background-color:#f9f9f9;
    border-radius: 10px;
    border:solid 4px #708090;
    margin-top:25px;
    margin-left:25px;
    margin-right:25px;
    margin-bottom:25px;
    padding-top:50px;
    padding-bottom:5px;
    color:#535353;
    font-size:40px;
    font-weight:bold;
    text-align:center;    
}
button {
    position:absolute;
    font-family: 'Bungee Shade', cursive;
    top: 0;
    left: 0;
    transition: all .15s linear 0s;
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    background-color: #E6DC13;
    text-transform: uppercase;
    color: brown;
    font-family: arial;
    letter-spacing: 1px;
    box-shadow: -6px 6px 0 brown;
    text-decoration: none;
    font-family: 'Bungee Shade', cursive;
    font-size: 30px;
    
}
button:hover{
    background-color: pink;
    border-radius: 15pt;
}
p{
    text-align: center;
    font-size: 25px;
    color: white;
}

